.carousel-container {

    height: 90%;
    position: relative;
    overflow: hidden;

}

.carousel-slides {

    height: 100%;
    position: relative;

}

.carousel-slide {

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;

}

.carousel-images {

    height: 100%;
    width: 100%;
    display: flex;
    position: absolute;
    filter: blur(2px);

}

.carousel-image-part {

    height: 100%;
    width: 25%;
    position: relative;

}

.carousel-image-part-inner {

    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-size: 0 0;
    background-repeat: no-repeat;

    filter: brightness(70%);

    transition: transform 0.5s ease-in-out;

}

.carousel-image-part-inner::before {

    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    background-image: inherit;
    background-size: cover;
    background-position: center center;
    opacity: 0;

    transition: opacity 250ms ease-in-out;

}

.carousel-image-part:nth-child(1) .carousel-image-part-inner {
    z-index: 3;
    transition-delay: 0.24s;
    transform: translateX(-32.5%);
}

.carousel-slide-active .carousel-image-part:nth-child(1) .carousel-image-part-inner {
    transition-delay: 0.28s;
}

.carousel-image-part:nth-child(1) .carousel-image-part-inner::before {
    left: 0vw;
    transition-delay: 0.365s;
}

/* ---------------------------------------------------------------------------- */

.carousel-image-part:nth-child(2) .carousel-image-part-inner {
    z-index: 2;
    transition-delay:0.16s;
    transform: translateX(-65%);
}

.carousel-slide-active .carousel-image-part:nth-child(2) .carousel-image-part-inner {
    transition-delay: 0.36s;
}


.carousel-image-part:nth-child(2) .carousel-image-part-inner::before {
    left: -25vw;
    transition-delay: 0.285s;
}

/* ---------------------------------------------------------------------------- */

.carousel-image-part:nth-child(3) .carousel-image-part-inner {
    z-index: 1;
    transition-delay: 0.08s;
    transform: translateX(-97.5%);
}

.carousel-slide-active .carousel-image-part:nth-child(3) .carousel-image-part-inner {
    transition-delay: 0.44s;
}

.carousel-image-part:nth-child(3) .carousel-image-part-inner::before {
    left: -50vw;
    transition-delay: 0.205s;
}

/* ---------------------------------------------------------------------------- */

.carousel-image-part:nth-child(4) .carousel-image-part-inner {
    z-index: 0;
    transition-delay: 0s;
    transform: translateX(-130%);
}

.carousel-slide-active .carousel-image-part:nth-child(4) .carousel-image-part-inner {
    transition-delay: 0.52s;
}

.carousel-image-part:nth-child(4) .carousel-image-part-inner::before {
    left: -75vw;
    transition-delay: 0.125s;
}

/* ---------------------------------------------------------------------------- */

.carousel-slide-active .carousel-image-part-inner {
    transform: translateX(0%) !important;
    transition-timing-function: ease;
}

.carousel-slide-active .carousel-image-part-inner::before {
    opacity: 1;
}

