@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.home-container {
    height: 95vh;
    width: 100%;
}

.home-wrapper {
    background-image: url('../assets/img2.jpg');
    height: 90%;
    background-position: 50% 80%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--blue-001);
}

.home-wrapper p {
    padding-left: 10px;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: -5px;
    color: rgba(255, 255, 255, .9);
    font-family: 'Oswald', sans-serif;
    text-shadow: 5px 5px 0px rgba(0, 0, 0, .5);
}


/* -------------------------------------------------------------------------------------- */

.home-menu {
    margin-top: -100px;
    position: relative;
    z-index: 5;
}

.home-menu-title{
    text-align: center;
    color: var(--white-001);
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 0px var(--blue-001);
}

.home-menu-bg-wrapper{
    padding: 0px min(300px, 10vw);
    width: 100%;
}

.home-menu-wrapper {
    filter: drop-shadow(5px 5px 0px var(--blue-001));
    display: flex;
    background: white;
    align-items: center;
}

.home-menu-wrapper span{
    height: 80px;
    width: 2px;
    background: var(--blue-001);
}

.home-menu p {
    height: 100px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    z-index: 5;
}


@media only screen and (max-width: 992px) {

    .home-menu-title{
        text-shadow: 3px 3px 0px rgba(0, 0, 0, .5);
    }
    
    .home-menu-wrapper span{
        height: 35px;
        width: 1px;
    }
    
    .home-menu p{
        font-size: 16px;
        height: 60px;
        padding-top: 10px;
    }
}

/* ------------------------------------------------------------------------------------------------- */

.home-welcome-container{
    width: 100vw;
    padding: 40px 30px 40px 30px;
    display: flex;
    background: url('../assets/bg1.jpg'), linear-gradient(to bottom, whitesmoke 30%, rgba(245, 245, 245, .7) 100%);
    background-size: cover;
    background-position: 50% 90%;
    background-blend-mode: saturation;
}

.home-welcome-content-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-welcome-title{
    color: var(--green-001);
    font-size: 70px;
    font-weight: bolder;
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 0px var(--green-002);
}

.home-welcome-content{
    font-size: 24px;
    color: var(--green-001);
    filter: brightness(70%);
    font-weight: 600;
}

.home-welcome-img{
    width: 60%;
    padding: 40px;
    filter: drop-shadow(8px 8px 0px var(--green-002));
}

.home-welcome-img img {
    width: 100%;
    clip-path: polygon(0% 70px, 70px 0%, 100% 0%, 100% calc(100% - 70px), calc(100% - 70px) 100%, 0% 100%);
}

@media only screen and (max-width: 992px) {
    .home-welcome-content-wrapper{
        width: 100%;
        padding: 10px;
        margin-top: -100px;
    }

    .home-welcome-container{
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        padding-top: 40px;
    }

    .home-welcome-img{
        width: 100%;
        padding: 0;
        filter: drop-shadow(0px 0px 0px transparent);
    }
    
    .home-welcome-img img{
        clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
        mask-image: linear-gradient(to bottom, black 30%, transparent 100%);
    }
}


/* --------------------------------------------------------------------------------------- */

.wwr-container{
    background: linear-gradient(var(--green-001), rgb(37, 122, 74));
}

.wwr-title{
    font-size: 50px;
    font-weight: bolder;
    transform: translateY(-40px);
    text-align: center;
    font-family: 'Oswald', sans-serif;
    text-shadow: 3px 3px 0px var(--white-001);
}

.wwr-wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 0 300px;
}

.wwr-content{
    width: min(100%, 200px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wwr-logo{
    height: 80px;
    margin: 20px;
    object-fit: contain;
    filter: drop-shadow(2px 2px 0 whitesmoke);
}

.wwr-para{
    text-align: center;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    width: 80%;
}

@media only screen and (max-width: 992px) {
    .wwr-wrapper{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .wwr-content{
        margin-bottom: 10px;
    }

    .wwr-para{
        font-size: 20px;
    }
}
