@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.home-container {
    height: 95vh;
    width: 100%;
}

.home-wrapper {
    background-image: url('../assets/img2.jpg');
    height: 90%;
    background-position: 50% 80%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--blue-001);
}

.home-wrapper p {
    padding-left: 10px;
    font-size: 70px;
    font-weight: bold;
    margin-bottom: -5px;
    color: rgba(255, 255, 255, .9);
    font-family: var(--oswald-font);
    text-shadow: 5px 5px 0px rgba(0, 0, 0, .5);
}


/* -------------------------------------------------------------------------------------- */

.home-menu {
    margin-top: -100px;
    position: relative;
    z-index: 5;
}

.home-menu-title{
    text-align: center;
    color: var(--white-001);
    font-size: 30px;
    margin-bottom: 10px;
    font-family: var(--oswald-font);
    text-shadow: 3px 3px 0px var(--blue-001);
}

.home-menu-bg-wrapper{
    padding: 0px min(300px, 10vw);
    width: 100%;
}

.home-menu-wrapper {
    filter: drop-shadow(5px 5px 0px var(--blue-001));
    display: flex;
    background: white;
    align-items: center;
}

.home-menu-wrapper span{
    height: 80px;
    width: 2px;
    background: var(--blue-001);
}

.home-menu p {
    height: 100px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: var(--oswald-font);
    text-align: center;
    z-index: 5;
}


@media only screen and (max-width: 992px) {

    .home-menu-title{
        text-shadow: 3px 3px 0px rgba(0, 0, 0, .5);
    }
    
    .home-menu-wrapper span{
        height: 35px;
        width: 1px;
    }
    
    .home-menu p{
        font-size: 16px;
        height: 60px;
        padding-top: 10px;
    }
}

/* -------------------------------------------------------------------------------------- */

.legacy-container {
    padding: 20px 20%;
    margin-top: 40px;
}

.legacy-title{
    font-family: var(--oswald-font);
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.legacy-quote{
    font-size: 36px;
    padding: 10px 30px;
    width: 80%;
    margin: 0 auto;
    color: var(--blue-001);
    font-family: var(--oswald-font);
}

.legacy-content{
    font-size: 20px;
    text-align: justify;
}

.tab {
    content: '';
    width: 100px;
    height: 20px;
}

@media only screen and (max-width: 992px) {
    .legacy-container{
        padding: 20px;
    }

    .legacy-quote{
        width: 100%;
        font-size: 30px;
    }
}



/* -------------------------------------------------------------------------------------- */

.wwr-container{
    background: linear-gradient(var(--green-001), rgb(37, 122, 74));
}

.wwr-title{
    font-size: 50px;
    font-weight: bolder;
    transform: translateY(-40px);
    text-align: center;
    font-family: var(--oswald-font);
    text-shadow: 3px 3px 0px var(--white-001);
}

.wwr-wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 0 300px;
}

.wwr-content{
    width: min(100%, 200px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.wwr-logo{
    height: 80px;
    margin: 20px;
    object-fit: contain;
    filter: drop-shadow(2px 2px 0 whitesmoke);
}

.wwr-para{
    text-align: center;
    font-weight: bold;
    font-family: var(--oswald-font);
    width: 80%;
}

@media only screen and (max-width: 992px) {
    .wwr-wrapper{
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .wwr-content{
        margin-bottom: 10px;
    }

    .wwr-para{
        font-size: 20px;
    }
}
