.placement-title{
     
    font-size: 60px;
    font-weight: bolder;
    display: grid;
    place-items: center;
    margin-top:5%;
    color: var(--blue-001);
    text-shadow: 3px 3px 0px var(--blue-002);
}

.section-padding {
    padding: 60px 0;
}

.brand-carousel {
    background: whitesmoke;

}

.owl-dots {
    text-align: center;
    margin-top: 3%;
}

.owl-dot {
    display: inline-block;
    height: 15px !important;
    width: 15px !important;
    background-color: #878787 !important;
    opacity: 0.8;
    border-radius: 50%;
    margin: 0 5px;
}

.owl-dot.active {
    background-color: #000 !important;
}

.owl-stage {
    display: flex;
    align-items: center;

}




img {
    width: 100%;
    height: auto;

}
